@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.player {
    width: 725px;
    height: 550px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
}

.video {
    display: flex;
    flex-grow: 30;
}

.player-buttons {
    background-color: black;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 2px;
}

.player-button {
    height: 35px;
    width: 33px;
    border-style: None;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.empty {
    flex-grow: 2;
}